.banner-body {
  background-color: rgba(248, 245, 245, 0.932);
}
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-items: center;

  padding: 30px 0;
  margin-bottom: 20px;
}

.booking-page {
  display: flex;
}
.banner-details {
  /* padding: 10px; */
}
.banner-img {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
}
.booking-option {
  margin: 10px;
  padding: 010px;
  border-radius: 3px;
}
.first {
  color: white;
  background-color: #a435f0;
}
.second {
  color: white;
  background-color: #dddb36;
}
.third {
  color: white;
  background-color: #119744;
}
